@inherits BaseComponent

<span class="@GetCssClass()" @attributes="Attributes" style="@GetStyles()">
    @ChildContent
</span>


@code {
    /// <summary>
    /// 设置徽章的颜色主题。默认是是 <see cref="ControlColor.Primary"/> 主题。
    /// </summary>
    [Parameter]
    public ControlColor Color { get; set; } = ControlColor.Primary;

    /// <summary>
    /// 设置一个布尔值，表示是否使用药丸样式。
    /// </summary>
    [Parameter]
    public bool Pills { get; set; }

    /// <summary>
    /// 设置徽章的内容。
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }


    protected override void BuildCssClass(List<string> classList)
    {
        classList.Add("badge");

        classList.Add($"badge-{ComponentsHelper.GetColorName(Color)}");

        if (Pills)
        {
            classList.Add("badge-pills");
        }
    }
}
