@*@inherits BootComponentBase

<div class="@BuildCssClassString()" style="@BuildStylesString()">
    <div class="d-flex flex-row justify-content-center flex-fill align-items-center">
        @if (ChildContent == null)
        {
            <BootSpinner Size="Size.SM" AdditionalCssClass="mr-1" />
            @Text
        }
        else
        {
            @ChildContent
        }
    </div>
</div>*@