@page "/"
@namespace BootBlazorUI.Docs.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using EmbeddedBlazorContent

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BootBlazorUI 文档</title>
    <base href="~/" />
    <link href="_content/BootBlazorUI/bootstrap.min.css" rel="stylesheet" />
    <link href="_content/BootBlazorUI/components.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />

    @Html.EmbeddedBlazorContent()
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.Server))
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BootBlazorUI/components.js"></script>
</body>
</html>
