@page "/badges"

<PageTitle Title="徽章 Badges">
    徽章是一种小型标签的形式展现，可以醒目并优雅地呈现一些状态或醒目的文字。
</PageTitle>

<PresentationPart Title="简单示例">
    <RunTemplate>
        <Badge Color="ControlColor.Primary">Primary</Badge>
        <Badge Color="ControlColor.Secondary">Secondary</Badge>
        <Badge Color="ControlColor.Info">Info</Badge>
        <Badge Color="ControlColor.Success">Success</Badge>
        <Badge Color="ControlColor.Warning">Warning</Badge>
        <Badge Color="ControlColor.Danger">Danger</Badge>
        <Badge Color="ControlColor.Light">Light</Badge>
        <Badge Color="ControlColor.Dark">Dark</Badge>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Badge Color=""ControlColor.Primary"">Primary</Badge>
<Badge Color=""ControlColor.Secondary"">Secondary</Badge>
<Badge Color=""ControlColor.Info"">Info</Badge>
<Badge Color=""ControlColor.Success"">Success</Badge>
<Badge Color=""ControlColor.Warning"">Warning</Badge>
<Badge Color=""ControlColor.Danger"">Danger</Badge>
<Badge Color=""ControlColor.Light"">Light</Badge>
<Badge Color=""ControlColor.Dark"">Dark</Badge>
```
")
    </CodeTemplate>
</PresentationPart>


<PresentationPart Title="组合使用">
    <RunTemplate>
        <Button>
            消息盒子
            <Badge Color="ControlColor.Light">20</Badge>
        </Button>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Button>
    <Badge Color=""ControlColor.Light"">20</Badge>
</Button>
```
")
    </CodeTemplate>
</PresentationPart>


<PresentationPart Title="药丸样式">
    <Description>
        设置 <code>Pills="true"</code> 属性以呈现为药丸的样式。
    </Description>
    <RunTemplate>
        <Badge Color="ControlColor.Primary" Pills="true">Primary</Badge>
        <Badge Color="ControlColor.Secondary" Pills="true">Secondary</Badge>
        <Badge Color="ControlColor.Info" Pills="true">Info</Badge>
        <Badge Color="ControlColor.Success" Pills="true">Success</Badge>
        <Badge Color="ControlColor.Warning" Pills="true">Warning</Badge>
        <Badge Color="ControlColor.Danger" Pills="true">Danger</Badge>
        <Badge Color="ControlColor.Light" Pills="true">Light</Badge>
        <Badge Color="ControlColor.Dark" Pills="true">Dark</Badge>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Badge Color=""ControlColor.Primary"" Pills=""true"">Primary</Badge>
<Badge Color=""ControlColor.Secondary"" Pills=""true"">Secondary</Badge>
<Badge Color=""ControlColor.Info"" Pills=""true"">Info</Badge>
<Badge Color=""ControlColor.Success"" Pills=""true"">Success</Badge>
<Badge Color=""ControlColor.Warning"" Pills=""true"">Warning</Badge>
<Badge Color=""ControlColor.Danger"" Pills=""true"">Danger</Badge>
<Badge Color=""ControlColor.Light"" Pills=""true"">Light</Badge>
<Badge Color=""ControlColor.Dark"" Pills=""true"">Dark</Badge>
```
")
    </CodeTemplate>
</PresentationPart>

<ArgumentDescriptionTable Title="属性">
    <tr>
        <td>Pills</td>
        <td>Boolean</td>
        <td>设置一个布尔值，表示是否使用药丸样式。</td>
    </tr>
    <tr>
        <td>Color</td>
        <td>ControlColor</td>
        <td>设置徽章的颜色主题。默认是 <code>Primary</code>。</td>
    </tr>
</ArgumentDescriptionTable>
