@page "/"
@layout EmptyLayout

<PageTitle Title="介绍">
    BootBlazorUI 是基于 Bootstrap 4.x 版本并构建于 ASP.NET CORE 3.1 的 UI 库，不依赖于 JQuery 和 Bootstrap.js 实现所有交互，
    可应用于 Mvc / Razor Page / Blazor 等 Web 应用程序。
    <br />
    BootBlazorUI 更偏向于交互和实用性，而不仅仅是静态的组件。
</PageTitle>
<PageTitle Title="特性">
    @Code.GetCode(@"
* 依托于 VS 的强大 IDE，如同使用 HTML 组件一样容易使用这些组件；
* 简单易用，让那些对 UI 并不擅长的程序员也能轻而易举的构建出想要的组件功能，再也不用去记那些 Bootstrap 组件的样式；
* 教科书般的注释，每一个参数都有很清晰的注释，形成注释即文档（Code As A Document）的风格；
* 组件分为基础组件和集成组件。集成组件是将多个基础组件组合起来，形成更为强大的组件，并且更注重交互性和实用性；
")
</PageTitle>

    <BootTabControl MinHeight="auto" Pills="true">

        <BootTabPage Title="进度">
            <small>当前版本：<Badge>v@(Program.GetVersion())</Badge></small>
            <ul>
                <li><s>警告消息框（BootAlert）</s></li>
                <li><s>徽章（BootBadge）</s></li>
                <li><s>进度条（BootProgressBar）</s></li>
                <li><s>模态框（BootModal）</s></li>
                <li><s>数据表格（BootDataGrid）</s></li>
                <li><s>按钮（BootButton）</s></li>
                <li><s>标签页（BootTabControl）</s></li>
                <li><s>伸缩面板（BootCollapse）</s></li>
                <li><s>分页（BootPagination）</s></li>
                <li><s>对话框（Dialog）</s></li>
                <li>卡片（Card）</li>
                <li><s>表单（Form）</s></li>
                <li>轮播（Carousel）</li>
                <li>巨幕（Jumbotron）</li>
                <li>弹出框（Popover）</li>
                <li>轻量弹框（Toast）</li>
                <li>提示框（Tooltip）</li>
                <li>栅格（Grid）</li>
            </ul>
        </BootTabPage>
        <BootTabPage Title="更新日志">
            @Code.GetCode(@"
#### 0.6
* 【新增】表单组件，包括单行文本框、多行文本框、单选按钮、多选按钮、日期选择、下拉框等组件
* 【新增】表单验证组件，可以结合 BootButton 对提交的表单形成交互性
* 【优化】表单按钮的交互功能，并将按钮移动到 Forms 命名空间
#### 0.5
* 【新增】Dialog 对话框组件
* 【新增】分页页码个数配置，显示首页和末页的开关
* 【新增】DataGrid 的 TemplateColumn 自定义列类型
* 【修改】DataGrid 的绑定字段列重命名为 FieldColumn
#### 0.4
* 【新增】DataGrid 组件
* 【新增】分页组件的“跳转到”、“状态标签”和“分页数字隐藏显示”
* 【删除】基本表格组件，由 DataGrid 组件代替
* 【更新】`ControlColor` 改为 `Color`
* 【更新】`ControlSize` 改为 `Size`
* 【修复】若干 Bug
#### 0.3
* 【新增】分页组件
#### 0.2
* 【新增】按钮组件的 `Disable/Active` 方法和 `OnDisabled/OnActived` 事件
* 【新增】进度条组件的 `TryUpdateValue` 方法，并增加更新进度条百分比宽度的 js
* 【新增】`BaseComponent` 的 `Id` 属性，让每个控件都生成一个独立的 `Id` 标识
* 【优化】不合理的属性
#### 0.1
* 初始化项目和基本的组件
")
        </BootTabPage>
        <BootTabPage Title="支持环境">
            @Code.GetCode(@"
- .NET CORE 3.1+
- .NET Standard 2.0+
- [浏览器支持](https://v4.bootcss.com/docs/getting-started/browsers-devices/)
")
        </BootTabPage>
        <BootTabPage Title="安装与使用">
            @Code.GetCode(@"
* 使用 Nuget Package Manager 安装包：`> Install-Package BootBlazorUI`；
* 引入内置的 bootstrap 样式 `<link href=""_content/BootBlazorUI/bootstrap.min.css"" rel=""stylesheet""/>` ，或你也可以自己引入 bootstrap 的样式；
* 引入组件样式：`<link href=""_content/BootBlazorUI/components.css"" rel=""stylesheet"" />`
* 引入组件脚本：`<script src=""_content/BootBlazorUI/components.js""></script>`；
* 使用 `@using BootBlazorUI` 引入命名空间，你可以在 `_Import.cshtml`(Mvc/Razor Page) | `_Import.razor`(Blazor) 中引入全局命名空间，或在某个页面中引入命名空间；
")
        </BootTabPage>
    </BootTabControl>
