<ul class="nav d-block">
    <li>
        <NavLink class="dropdown-item" href="/" Match="NavLinkMatch.All">
            首页(Home)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="alert" Match="NavLinkMatch.All">
            警告框(Alert)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="badges" Match="NavLinkMatch.All">
            徽章(Badge)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="buttons" Match="NavLinkMatch.All">
            按钮(Button)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="collapse" Match="NavLinkMatch.All">
            折叠面板(Collapse)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="datagrid" Match="NavLinkMatch.All">
            数据表格(DataGrid)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="datagrid/advantage" Match="NavLinkMatch.All">
            数据表格进阶(DataGrid Advantage)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="dialog" Match="NavLinkMatch.All">
            对话框(Dialog)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="forms" Match="NavLinkMatch.All">
            表单(Form)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="loading" Match="NavLinkMatch.All">
            加载面板(Loading)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="modal" Match="NavLinkMatch.All">
            模态框(Modal)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="pagination" Match="NavLinkMatch.All">
            分页(Pagination)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="progressbar" Match="NavLinkMatch.All">
            进度条(Progress Bar)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="spinner" Match="NavLinkMatch.All">
            旋转(Spinner)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="tabs" Match="NavLinkMatch.All">
            标签页(Tab)
        </NavLink>
    </li>
</ul>