<ul class="nav d-block">
    <li><h6><strong>基础组件</strong></h6></li>
    <li>
        <NavLink class="dropdown-item" href="alert">
            警告框(Alert)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="badges">
            徽章(Badge)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="buttons">
            按钮(Button)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="collapse">
            折叠面板(Collapse)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="forms">
            表单(Form)
        </NavLink>
    </li>
    @*<li>
        <NavLink class="dropdown-item" href="loading">
            加载面板(Loading)
        </NavLink>
    </li>*@
    <li>
        <NavLink class="dropdown-item" href="modal">
            模态框(Modal)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="pagination">
            分页(Pagination)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="progressbar">
            进度条(Progress Bar)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="spinner">
            旋转(Spinner)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="tabs">
            标签控件(Tab Control)
        </NavLink>
    </li>
</ul>
<ul class="nav d-block mt-2">
    <li><h6><strong>集成组件</strong></h6></li>
    <li>
        <NavLink class="dropdown-item" href="datagrid">
            数据表格(DataGrid)
        </NavLink>
    </li>
    <li>
        <NavLink class="dropdown-item" href="dialog">
            对话框(Dialog)
        </NavLink>
    </li>
</ul>