@inherits LayoutComponentBase

<NavMenu />


<div class="container-fluid mt-2 pb-3" style="padding-top:79px">
    <div class="row">
        <div class="col-2" style="height:@(height)px;overflow-y:scroll">
            <LeftMenu />
        </div>
        <div class="col-10" style="height:@(height)px;overflow-y:scroll">
            @Body
        </div>
    </div>
</div>


@code{
    int height = 600;
}