@inherits LayoutComponentBase

<NavMenu />

<div class="container-fluid mt-2 pb-3">
    <div class="row">
        <div class="col-3">
            <ul class="nav nav-pills">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        首页
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="alerts">
                        警告框(Alert)
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="buttons">
                        按钮(Button)
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="table">
                        表格(Table)
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="tabs">
                        标签页(Tabs)
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="modal">
                        模态框(Modals)
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="badges">
                        徽章(Badges)
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="collapse">
                        折叠面板(Collapse)
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="progressbar">
                        进度条(Progress Bar)
                    </NavLink>
                </li>
            </ul>
        </div>
        <div class="col-9">
            @Body
        </div>
    </div>

</div>

<footer class="fixed-bottom bg-light w-100 text-center pt-1 pb-1 text-muted" style="font-size:13px;">
    <ul class="list-inline" style="margin-bottom:0px">
        <li class="list-inline-item">
            <i class="fa fa-copyright"></i> BootBlazorUI
        </li>
        <li class="list-inline-item">
            版本 v0.1.0
        </li>
        <li class="list-inline-item">
            Licence MIT
        </li>
        <li class="list-inline-item"><a href="https://gitee.com/mikpro/BootBlazorUI" target="_blank">源码（Gittee）</a></li>
    </ul>
</footer>