<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="/">BootBlazorUI</a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="javascript:;" class="nav-link">v@(Program.GetVersion(preview: 1))</a>
        </li>
        <li class="nav-item">
            <a href="https://github.com/Michael-Pro/BootBlazorUI" target="_blank" class="nav-link">Github</a>
        </li>
        <li class="nav-item">
            <a href="https://www.nuget.org/packages/BootBlazorUI/" target="_blank" class="btn btn-outline-warning"><i class="fa fa-download"></i> 下载 BootBlazorUI</a>
        </li>
    </ul>
</nav>
