@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body,pre {
    font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    font-size:0.9rem
}



.editor-colors pre {
    background-color: #eee;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}