<h2>@Title</h2>
<div class="border-bottom m2-1 mb-2"></div>
@if (ChildContent != null)
{
<blockquote>
    @ChildContent
</blockquote>
}
<div class="mb-3"></div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
